@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  /* background-image: url("https://tailwindui.com/img/components/sign-in-forms.01-simple-card-xl.png");
  background-size: 100% 100%; */
  min-width: 100vw;
  min-height: 100vh;
}
